.custom-form-message{
    padding: 0px 0%;
}

.custom-form-message-textarea{
    resize: vertical;
}


.post-entry-container {
    display: inline-block;
    width: 100%;
}

.post-image {
    margin: 20px 20px 20px 20px;
    filter: grayscale(30%);
    display: inline-block;
}

@media only screen and (max-width: 500px) {
    .post-image{
        margin: 0px;
        filter: grayscale(30%);
        display: contents;
    }
}
.post-read-more{
    display: contents;
}

/* .post-preview .post-meta,
.post-heading .post-meta,
.page-meta {
    color: #4d91bb;
    font-size: 18px;
    font-style: normal;
    margin: 0 0 10px;
  } */

.fa-calendar, .fa-clock, .fa-book, .fa-user{
    color: #ce5804;
}

.badge{
    background-color: #ce5804;
}


/* .avatar-img{
    transition: all .2s ease-in-out; 
}

.avatar-img:hover{
    transform: scale(1.1); 
} */

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1); 
}

.shrink { 
    transition: all .2s ease-in-out; 
    }
    
.shrink:hover { 
    transform: scale(0.9); 
}

/* html { 
    background: url(/Web/uploads/pexels-laura-meinhardt.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */